<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjy.springboot.test.dao.CodeDAO">

	<select id="selects" resultType="java.util.LinkedHashMap">
		select code from tb_code_info
	</select>
</mapper>